/* 
Site Footer
*/

.wrapper-footer {
    background: var( --background-footer );
    color: rgba(235, 240, 245, 1);
    margin: auto 0;
}

.site-footer {
    max-width: var( --site-max-width );
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.site-footer ul li {
    list-style: none;
}

/* styles for the section-information */
.section-information {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em;
}

.site-footer-contacts,
.site-footer-address,
.site-footer-language {
    width: 100%;
    text-align: center;
}

.site-footer-contacts,
.site-footer-address {
    border-right: 2px solid rgba(50, 90, 130, 0.5);
}

.site-footer-contacts ul {
    padding-bottom: 0;
}

/* styles for the site-footer-language */
.language-switcher a {
    color: rgba(235, 240, 245, 1);
}

.language-switcher nav {
    display: flex;
    justify-content: center;
}

.language-switcher .en_en,
.language-switcher .bg_bg {
    opacity: 0.4;
}

.language-switcher .bg_en:hover,
.language-switcher .en_bg:hover {
    color: rgb(50, 90, 130);
}

/* styles for the section-copyright */
.section-copyright {
    margin: 0 auto;
}

.section-copyright p {
    padding: 0;
    font-size: 0.8em;
}
