<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <link rel="icon" href="../img/TriEl-icon.gif" type="image/gif" sizes="16x16">
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
</head>
<body>

    <div class="site">

        <!-- Site Header -->
        <div class="wrapper-header">
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <header class="site-header">
                <div class="wrapper">

                    <!-- For Site Title -->
                    {% assign pages = site.pages | sort: "nav-order"  %}
                    {% for p in pages %}
                        {% if p.title == 'Home' %}                           
                            {% if p.language == page.language %}
                                <h1 class="site-title">
                                    <a href="{{ p.url | prepend: site.baseurl }}">TriEl<span class="last-letters">Ltd</span></a>
                                </h1>
                            {% endif %}
                        {% endif %}        
                    {% endfor %}
                                
                    <label for="nav-toggle" class="nav-toggle-button"></label> 
                </div>

                
                <!-- For Site Navigation -->
                <nav class="site-nav"> 
                    <ul>
                        {% assign pages = site.pages | sort: "nav-order"  %}
                        {% for p in pages %}
                            {% if p.title != 'Home' %}                           
                                {% if p.language == page.language %}      
                                    <li class="{{ page.class }}">
                                        <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}<div class="icon"></div></a>
                                    </li>                       
                                {% endif %}
                            {% endif %}        
                        {% endfor %}
                    </ul>
                </nav>
                
            </header>
        </div>

        <!-- Site Main Section -->
        <div class="wrapper-main">

            <main class="site-main">
                {{ page.content }}
            </main>

        </div>

        <!-- Site Footer -->
        <div class="wrapper-footer">

            <footer class="site-footer">
                <section class="section-information">

                    <div class="site-footer-contacts">
                        {% if page.language == 'en' %}
                            <h6>Contacts</h6>
                        {% else %}
                            <h6>Контакти</h6>
                        {% endif %}
                        <ul>
                            <li class="phone"> (+359 2) 888 88 88</li>
                            <li class="email"> something@triel.bg</li>
                        </ul>
                    </div>
            
                    <div class="site-footer-address">
                        {% if page.language == 'en' %}
                            <h6>Address</h6>
                            <ul>
                                <li class="address"> 876 Aleksandar Stambolijski</li>
                                <li>Sofia, Bulgaria</li>
                            </ul>
                        {% else %}
                            <h6>Адрес</h6>
                            <ul>
                                <li class="address"> 876 Aлександър Cтамболийски</li>
                                <li>София, България</li>
                            </ul>            
                        {% endif %}
                    </div>

                    <!-- Language Switching -->
                    <div class="site-footer-language">
                        <nav class="language-switcher">
                            {% if page.language == 'en' %}
                                <h6>Page language</h6>

                                {% if page.name contains "index" %}
                                    <ul>
                                        <li><a class="bg_en" href="{{ site.baseurl | append: "/bg" }}">Български</a></li>
                                        <li><a class="en_en" href="{{ site.baseurl }}/">English</a></li>
                                    </ul>
                                {% else %}
                                    <ul>
                                        <li><a class="bg_en" href="{{ site.baseurl | append: "/bg" | append: page.handle }}">Български</a></li>
                                        <li><a class="en_en" href="{{ site.baseurl | append: page.handle }}">English</a></li>
                                    </ul>
                                {% endif %}
                            {% else %}
                                <h6>Език на страницата</h6>

                                {% if page.name contains "index" %}
                                    <ul>
                                        <li><a class="bg_bg" href="{{ site.baseurl | append: "/bg" }}">Български</a></li>
                                        <li><a class="en_bg" href="{{ site.baseurl }}/">English</a></li>
                                    </ul>
                                {% else %}
                                    <ul>
                                        <li><a class="bg_bg" href="{{ site.baseurl | append: "/bg" | append: page.handle }}">Български</a></li>
                                        <li><a class="en_bg" href="{{ site.baseurl | append: page.handle }}">English</a></li>
                                    </ul>
                                {% endif %}
                            {% endif %}
                        </nav>
                    </div>
                </section>

                <!-- Copyright Information -->
                <section class="section-copyright">

                    {% if page.language == 'en' %}
                        <p>All rights reserved &copy; 2019-2019 TriEl Ltd | Created by Borislav Valkov</p>
                    {% else %}
                        <p>Всички права запазени &copy; 2019-2019 ТриЕл ООД | Уебдизайн от Борислав Вълков</p>
                    {% endif %}
  
                </section>

            </footer>
        </div>
        
    </div>
</body>
</html>