<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
</head>
<body>
    <div class="site">

        <div class="background-header">
            <header class="site-header">

                {% if page.home == true %}
                    <h1 class="site-title">
                        <a href="{{ site.baseurl }}"></a>
                    </h1>
                {% endif %}

                <H1 class="site-title">
                    <a href="{{ site.baseurl }}/">TriEl<div class="test">Ltd</div></a>
                </H1>
                        
                <nav class="site-nav">
                    <ul>
                        {% for page in site.pages %}
                            {% if page.title %}
                                <li>
                                    <a href="{{ page.url }}/">{{ page.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>

            </header>
        </div>

        

    <main class="site-main">
        {% if page.title %}
            <h1>{{page.title}}</h1>
        {% endif %}

        {{ page.content }}

    </main>

    <aside class="site-sidebar">

    </aside>

    <div class="background-footer">

        <footer class="site-footer">
            <p>All rights reserved &copy; {{site.title}}</p>
        </footer>

    </div>

    </div>

</body>
</html>