<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
</head>
<body>

    <div class="site">

        <!-- Site Header -->
        <div class="wrapper-header">
            <header class="site-header">

                <!-- For Site Title -->
                {% assign pages = site.pages | sort: "nav-order"  %}
                {% for p in pages %}
                    {% if p.title == 'Home' %}                           
                        {% if p.language == page.language %}
                            <H1 class="site-title">
                                <a href="{{ p.url | prepend: site.baseurl }}">TriEl<span class="last-letters">Ltd</span></a>
                            </H1>
                        {% endif %}
                    {% endif %}        
                {% endfor %}
                
                <!-- For Site Navigation -->
                <nav class="site-nav">
                        <ul>
                    {% assign pages = site.pages | sort: "nav-order"  %}
                        {% for p in pages %}
                            {% if p.title != 'Home' %}                           
                                {% if p.language == page.language %}
                                  
                                        <li class="{{ page.class }}">
                                            <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
                                        </li>
                                   
                                {% endif %}
                            {% endif %}        
                        {% endfor %}
                    </ul>
                  </nav>

            </header>
        </div>

        <!-- Site Main Section -->
        <div class="wrapper-main">

            <main class="site-main">
                {{ page.content }}
            </main>

        </div>

        <!-- Site Footer -->
        <div class="wrapper-footer">

            <footer class="site-footer">

                <!-- For Language Switching -->
                <nav class="language-switcher">
                    {% if page.name contains "index" %}
                        <a class="en" href="{{ site.baseurl }}/">EN</a>
                        <a class="bg" href="{{ site.baseurl | append: "/bg" }}">BG</a>
                    {% else %}
                        <a class="en" href="{{ site.baseurl | append: page.handle }}">EN</a>
                        <a class="bg" href="{{ site.baseurl | append: "/bg" | append: page.handle }}">BG</a>
                    {% endif %}
                </nav>

                <!-- Copyright Information -->
                {% if page.language == 'en' %}
                    <p>All rights reserved</p>
                {% else %}
                    <p>Всички права запазени</p>
                {% endif %}

                <p>&copy; 2019-2019 {{site.title}}</p>

            </footer>

        </div>

    </div>
</body>
</html>