.gallery-section-content {
    max-width: var( --site-max-width );
    margin: 0 auto;
    overflow: hidden;
}

.gallery-section-content .content ul {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0.5em;
}

.gallery-section-content .content ul li {
    list-style: none outside;
    position: relative; 
    overflow: hidden;
}


.gallery-section-content .content .landscape{
    grid-column: span 2;
    grid-row: 1;
}

.gallery-section-content .content .portrait{
    grid-column: span 1;
    grid-row: 2;
}




.gallery-section-content .content img {
    display: block;
    width: 100%;
    height: auto;
}